.root {
	-fx-background-color: linear-gradient(#FFF, #FFF, #a0f0ff);
}

.ButtonsGame {
	-fx-background-color: linear-gradient(#FFF, #01844b, #13ad6a);
	-fx-background-radius: 100.0;
	-fx-background-insets: 0.0;
	-fx-text-fill: white;	
	-fx-font-family: "Times New Roman";
	-fx-padding: 10.0px 32.0px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 14.0px;
}

.ButtonsGame:hover {
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
	-fx-background-color: #fff;
	-fx-text-fill: black;
}
